<h1>Select2</h1>

<!--<p>-->
<!--<strong>-->
<!--<a href="http://johnculviner.com/">Click here</a>-->
<!--for a detailed blog post covering Select2-->
<!--</strong>-->
<!--</p>-->

<div>
    <div class="alert alert-success">
        <p>
            First of there are a few other Select2 directives out there. This one is different in that it is specifically designed to
            <strong>easily</strong>
            work with binding ids, objects, arrays, AJAX queries etc. for some pretty common use cases (see examples!)
        </p><br/>
        <p>
            It abstracts away the complicated Select2 API with a $settings object (lots of examples below!) and should make it
            pretty easy to do a lot of things without writing a bunch of hacks.
        </p><br/>
        <p>
            It offers no support for the basic 'replace a &lt;select&gt; list and &lt;option&gt;' functionality.
            If you want that take a look at <a href="https://github.com/angular-ui/ui-select2">this one</a>.
        </p><br/>

        Take a look at the examples below to see what this one does readily and feel free to copy paste!
    </div>

    <div ng-controller="select2basicId">
        <h1>Basic Id Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">State: </label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="selectedStateAbbreviation"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <pre>$scope.selectedStateAbbreviation = {{ selectedStateAbbreviation | json }}</pre>

            <p>
                Very basic. The bound ng-model value selectedStateAbbreviation is just the "abbreviation" for the state.
                Ex "MN". This is called 'id' mode by the directive since we are just storing the id.
            </p>
        </div>
    </div>


    <div ng-controller="select2basicObject">
        <h1>Basic Object Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">State: </label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="selectedStateObject"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <pre>$scope.selectedStateObject = {{ selectedStateObject | json }}</pre>

            <p>
                A little more complicated. ng-model is bound to "selectedStateObject" which is an object representing
                the currently selected state. This is called 'object' mode by the directive since we are binding full objects.
            </p>
        </div>
    </div>

    <div ng-controller="select2ajaxId">
        <h1>AJAX Id Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">State: </label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="selectedStateAbbreviation"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <pre>$scope.selectedStateAbbreviation = {{ selectedStateAbbreviation | json }}</pre>

            <p>
                Using AJAX search for a state as it is typed. The bound ng-model value selectedStateAbbreviation is just the "abbreviation" for the state.
                Ex "MN". This is called 'id' mode by the directive since we are just storing the id.
            </p>
        </div>
    </div>

    <div ng-controller="select2ajaxNameAndIdSame">
        <h1>AJAX Text and Id Same Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">State: </label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="selectedStateName" style="width: 220px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <pre>$scope.selectedStateName = {{ selectedStateName | json }}</pre>

            <p>
                Using AJAX search for a state as it is typed. The bound ng-model value is the full name of the state and
                <strong>so is the display text.</strong>
            </p>
        </div>
    </div>

    <div ng-controller="select2ajaxObject">
        <h1>AJAX Object Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">State: </label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="selectedStateObject"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <pre>$scope.selectedStateObject = {{ selectedStateObject | json }}</pre>
            <p>
                Using AJAX search for a state as it is typed. ng-model is bound to "selectedStateObject" which is an object representing
                the currently selected state. This is called 'object' mode by the directive since we are binding full objects.
            </p>
        </div>
    </div>

    <div ng-controller="select2tagsBasic">
        <h1>Tags Basic Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite Foods:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteFoods" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <pre>$scope.favoriteFoods = {{ favoriteFoods | json }}</pre>
            <p>
                Some pre-selected tags in the ng-model bound favoriteFoods are set. You can type in your own (whatever you want) and it will update favoriteFoods.
            </p>
        </div>
    </div>

    <div ng-controller="select2tagsIdConstrained">
        <h1>Constrained Tags Id Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite States:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <pre>$scope.favoriteStates = {{ favoriteStates | json }}</pre>
            <p>
                Some pre-selected tags in the ng-model bound favoriteStates are set. You can add more from a constrained list.
            </p>
        </div>
    </div>

    <!--<div ng-controller="select2tagsIdTextSameConstrained">-->
        <h1>TODO Constrained Tags Id/Text Same</h1>
        <!--<div class="form-group select2">-->
            <!--<label class="col-sm-2 control-label">Favorite States:</label>-->
            <!--<div class="col-sm-3">-->
                <!--<div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<br/>-->
        <!--<div class="alert alert-info">-->
        <!--</div>-->
    <!--</div>-->

    <div ng-controller="select2tagObjectsConstrained">
        <h1>Constrained Tags Object Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite States:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <pre>$scope.favoriteStates = {{ favoriteStates | json }}</pre>
            <p>
                Some pre-selected tags in the ng-model bound favoriteStates are set. You can add more from a constrained client-side list.
            </p>
        </div>
    </div>

    <div ng-controller="select2tagIdAjaxConstrained">
        <h1>TODO: Constrained Tags Id AJAX Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite States:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <pre>$scope.favoriteStates = {{ favoriteStates | json }}</pre>
            <p>
                Some pre-selected tags in the ng-model bound favoriteStates are set. You can add more from a constrained AJAX list.
            </p>
        </div>
    </div>

    <div ng-controller="select2tagObjectsAjaxConstrained">
        <h1>Constrained Tags Object AJAX Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite States:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <pre>$scope.favoriteStates = {{ favoriteStates | json }}</pre>
            <p>
                Some pre-selected tags in the ng-model bound favoriteStates are set. You can add more from a constrained AJAX list.
            </p>
        </div>
    </div>



</div>