<div class="jumbotron">
    <div class="container">
        <h1>Select2 Demo</h1>

        <p class="lead">Headache free use of Select2 with Angular for most common tasks</p>
        <p class="lead">
            <a href="https://github.com/AngularAgility/AngularAgility/wiki/select2-API-Docs">API Docs</a>
            |
            <a href="https://github.com/AngularAgility/AngularAgility/blob/master/src/aa.select2.js">Source</a>
            |
            <a href="http://johnculviner.com/category/select2/">Blog Posts</a>
        </p>
    </div>
</div>

<div class="container form-horizontal">
<div class="well">
    <p class="lead">Some background</p>
    <p>
        First off, there are a few other Select2 directives out there. This one is different in that it is specifically designed to
        <strong>easily</strong>
        work with binding ids, objects, arrays, AJAX queries etc. for some pretty common use cases (see examples!)
    </p>
    <p>
        It abstracts away the complicated Select2 API (lots of examples below!) and should make it
        pretty easy to do a lot of things without writing a bunch of hacks. You can still always call the select2 API
        directly if you want. See examples below!
    </p>
    <p>
        It offers no support for the basic 'replace a &lt;select&gt; list and &lt;option&gt;' functionality:
        This is desgined for working with JavaScript object data (as you generally do with Angular).
        Not what you want? Take a look at <a href="https://github.com/angular-ui/ui-select2">this one</a>.
    </p>

    Take a look at the examples below to see what this one does readily and feel free to copy paste!
</div>

<div class="well">
    <p class="lead">The data</p>
    The data used for this demo is a simple list of US states and their abbreviation. The data is either retrieved
    with AJAX for some examples or exists solely in the client for others. Here are the first couple states:
    <pre>
        var states = [
            {
                "name": "Alabama",
                "abbreviation": "AL"
            },
            {
                "name": "Alaska",
                "abbreviation": "AK"
            }
            //...
        ]
    </pre>
</div>

    <div ng-controller="select2basicId">
        <h1>Basic Id Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">State: </label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="selectedStateAbbreviation"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Very basic. The bound ng-model value selectedStateAbbreviation is just the "abbreviation" for the state.
                Ex "MN". This is called 'id' mode by the directive since we are just storing the id.
            </p>
            <h3>Current state of bound scope</h3>
            <pre>$scope.selectedStateAbbreviation = {{ selectedStateAbbreviation | json }}</pre>
            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
            <script type="syntaxhighlighter"><![CDATA[
            app.controller('select2basicId', function($scope, select2States) {

                $scope.selectedStateAbbreviation = "MN";

                $scope.select2Config = {
                    mode: 'id',
                    id: 'abbreviation',
                    text: 'name',
                    options: select2States,
                    select2: {
                        minimumInputLength: 2
                    }
                };
            })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="selectedStateAbbreviation"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2basicObject">
        <h1>Basic Object Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">State: </label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="selectedStateObject"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                A little more complicated. ng-model is bound to "selectedStateObject" which is an object representing
                the currently selected state. This is called 'object' mode by the directive since we are binding full objects.
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.selectedStateObject = {{ selectedStateObject | json }}</pre>

            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
            app.controller('select2basicObject', function($scope, select2States) {

                $scope.selectedStateObject = { name: "Minnesota", abbreviation: "MN" };

                $scope.select2Config = {
                    mode: 'object',
                    id: 'abbreviation',
                    text: 'name',
                    options: select2States
                };
            })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="selectedStateObject"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2ajaxId">
        <h1>AJAX Id Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">State: </label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="selectedStateAbbreviation"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Using AJAX search for a state as it is typed. The bound ng-model value selectedStateAbbreviation is just the "abbreviation" for the state.
                Ex "MN". This is called 'id' mode by the directive since we are just storing the id.
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.selectedStateAbbreviation = {{ selectedStateAbbreviation | json }}</pre>


            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
                    app.controller('select2ajaxId', function($scope, $http) {

                        $scope.selectedStateAbbreviation = "MN";

                        $scope.select2Config = {
                            mode: 'id',
                            id: 'abbreviation',
                            text: 'name',
                            textLookup: function(id) {
                                //find the text for the selected id
                                //looks at 'text' field above (name)
                                return $http.get('/states/' + id);
                            },
                            options: function(searchText) {
                                //search for options with AJAX
                                return $http.get('/searchStates/' + searchText);
                            },
                            select2: {
                                minimumInputLength: 2
                            }
                        };
                    })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="selectedStateAbbreviation"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2ajaxNameAndIdSame">
        <h1>AJAX Text and Id Same Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">State: </label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="selectedStateName"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Using AJAX search for a state as it is typed. The bound ng-model value is the full name of the state and
                <strong>so is the display text.</strong>
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.selectedStateName = {{ selectedStateName | json }}</pre>

            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
            app.controller('select2ajaxNameAndIdSame', function($scope, $http) {

                $scope.selectedStateName = "Minnesota";

                $scope.select2Config = {
                    mode: 'id',
                    id: '@this',
                    text: '@this',
                    options: function(searchText) {
                        //search for options with AJAX
                        return $http.get('/searchStatesJustName/' + searchText);
                    },
                    select2: {
                        minimumInputLength: 2
                    }
                };
            })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="selectedStateName"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2ajaxObject">
        <h1>AJAX Object Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">State: </label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="selectedStateObject"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Using AJAX search for a state as it is typed. ng-model is bound to "selectedStateObject" which is an object representing
                the currently selected state. This is called 'object' mode by the directive since we are binding full objects.
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.selectedStateObject = {{ selectedStateObject | json }}</pre>

            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
                app.controller('select2ajaxObject', function($scope, select2States, $http) {

                    $scope.selectedStateObject = { name: "Minnesota", abbreviation: "MN" };

                    $scope.select2Config = {
                        mode: 'object',
                        id: 'abbreviation',
                        text: 'name',
                        options: function(searchText) {
                            return $http.get('/searchStates/' + searchText);
                        },
                        select2: {
                            minimumInputLength: 2
                        }
                    };
                })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="selectedStateObject"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2tagsBasic">
        <h1>Tags Basic Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite Foods:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteFoods" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Some pre-selected tags in the ng-model bound favoriteFoods are set. You can type in your own (whatever you want) and it will update favoriteFoods.
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.favoriteFoods = {{ favoriteFoods | json }}</pre>

            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
                app.controller('select2tagsBasic', function($scope) {

                    $scope.favoriteFoods = ['Lasagna', 'Chicken Curry', 'Pizza'];

                    $scope.select2Config = {
                        mode: 'tags-id'
                    };
                })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="favoriteFoods" style="width: 300px;"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2tagsIdConstrained">
        <h1>Constrained Tags Id Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite States:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Some pre-selected tags in the ng-model bound favoriteStates are set. You can add more from a constrained list.
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.favoriteStates = {{ favoriteStates | json }}</pre>

            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
                app.controller('select2tagsIdConstrained', function($scope, select2States) {

                    $scope.favoriteStates = ["MN", "WI"];

                    $scope.select2Config = {
                        mode: 'tags-id',
                        id: 'abbreviation',
                        text: 'name',
                        options: select2States
                    };
                })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2tagsIdTextSameConstrained">
        <h1>Constrained Tags Id/Text Same</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite States:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Some pre-selected tags in the ng-model bound favoriteStates are set. You can add more from a constrained client-side array
                of JUST the name of the state
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.favoriteStates = {{ favoriteStates | json }}</pre>


            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
                app.controller('select2tagsIdTextSameConstrained', function($scope, select2States) {

                    var select2StatesJustName = select2States.map(function(state) {
                        return state.name;
                    });

                    $scope.favoriteStates = ["Minnesota", "Wisconsin"];

                    $scope.select2Config = {
                        mode: 'tags-id',
                        id: '@this',
                        text: '@this',
                        options: select2StatesJustName
                    };
                })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2tagsIdTextSameConstrainedAjax">
        <h1>Constrained Tags Id/Text Same Ajax</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite States:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Some pre-selected tags in the ng-model bound favoriteStates are set. You can add more from a constrained AJAX array
                of JUST the name of the state
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.favoriteStates = {{ favoriteStates | json }}</pre>


            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
                app.controller('select2tagsIdTextSameConstrainedAjax', function($scope, $http) {

                    $scope.favoriteStates = ["Minnesota", "Wisconsin"];

                    $scope.select2Config = {
                        mode: 'tags-id',
                        id: '@this',
                        text: '@this',
                        options: function(searchText) {
                            //search for options with AJAX
                            return $http.get('/searchStatesJustName/' + searchText);
                        }
                    };
                })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2tagObjectsConstrained">
        <h1>Constrained Tags Object Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite States:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Some pre-selected tags in the ng-model bound favoriteStates are set. You can add more from a constrained client-side list.
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.favoriteStates = {{ favoriteStates | json }}</pre>

            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
                app.controller('select2tagObjectsConstrained', function($scope, select2States) {

                    $scope.favoriteStates = [
                        { name: "Minnesota", abbreviation: "MN" },
                        { name: "Wisconsin", abbreviation: "WI" }
                    ];

                    $scope.select2Config = {
                        mode: 'tags-object',
                        id: 'abbreviation',
                        text: 'name',
                        options: select2States
                    };
                })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2tagIdAjaxConstrained">
        <h1>Constrained Tags Id AJAX Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite States:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Some pre-selected tags in the ng-model bound favoriteStates are set.
                The tags are represented by 'abbreviation' on the full state object. Only 'abbreviation' is stored
                in the ng-model. Each 'abbrevation' must be looked up on 'textLookup' when the page initializes
                to get the friendly 'name' for the selected 'abbreviation'.
                You can add more tags from a constrained AJAX list.
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.favoriteStates = {{ favoriteStates | json }}</pre>

            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
                app.controller('select2tagIdAjaxConstrained', function($scope, $http) {

                    $scope.favoriteStates = [ "MN", "WI" ];

                    $scope.select2Config = {
                        mode: 'tags-id',
                        id: 'abbreviation',
                        text: 'name',
                        textLookup: function(id) {
                            //find the text for each 'abbreviation' (the 'id') stored in $scope.favoriteStates
                            return $http.get('/states/' + id);
                        },
                        options: function(searchText) {
                            //search for options with AJAX
                            return $http.get('/searchStates/' + searchText);
                        },
                        select2: {
                            minimumInputLength: 2
                        }
                    };
                })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            ]]></script>
            </div>
        </div>
    </div>

    <div ng-controller="select2tagObjectsAjaxConstrained">
        <h1>Constrained Tags Object AJAX Example</h1>
        <div class="form-group select2">
            <label class="col-sm-2 control-label">Favorite States:</label>
            <div class="col-sm-3">
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            </div>
        </div>
        <br/>
        <div class="alert alert-info">
            <p>
                Some pre-selected tags in the ng-model bound favoriteStates are set. You can add more from a constrained AJAX list.
            </p>

            <h3>Current state of bound scope</h3>
            <pre>$scope.favoriteStates = {{ favoriteStates | json }}</pre>

            <h3>JavaScript</h3>
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
                .controller('select2tagObjectsAjaxConstrained', function($scope, $http) {

                    $scope.favoriteStates = [
                        { name: "Minnesota", abbreviation: "MN" },
                        { name: "Wisconsin", abbreviation: "WI" }
                    ];

                    $scope.select2Config = {
                        mode: 'tags-object',
                        id: 'abbreviation',
                        text: 'name',
                        options: function(searchText) {
                            return $http.get('/searchStates/' + searchText);
                        },
                        select2: {
                            minimumInputLength: 2
                        }
                    };
                })
            ]]></script>
            </div>

            <h3>HTML</h3>
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                <div aa-select2="select2Config" ng-model="favoriteStates" style="width: 300px;"></div>
            ]]></script>
            </div>
        </div>
    </div>
</div>