<div class="container">

    <div class="well">
        <p class="lead">Form changed tracking</p>

        <p>
            Form changed tracking means deviation from the initial state of the form&dagger; indicates that a form
            changed. You can change a field and set it back to it's initial state and aaFormExtensions considers
            the field AND the form no longer changed (all values are equal to their init state&dagger;).
        </p>
        <p>
            Angular considers the field/form dirty still since it was touched (yet changed back to initial state).
        </p>


        <p class="lead">Form reset</p>
        <p>Sets the state of the form back to it's original state&dagger;:</p>
        <div syntax-highligher-for="javascript">
            <script type="syntaxhighlighter"><![CDATA[
                personForm.$aaFormExtensions.$reset(/*optional shouldNotConfirmReset*/);
            ]]>
            </script>
        </div>

        <p class="lead">Reset initial form state</p>
        <p>The current state of the form will be considered it's initial state (any changes from here are now $changed):</p>
        <div syntax-highligher-for="javascript">
            <script type="syntaxhighlighter"><![CDATA[
                personForm.$aaFormExtensions.$resetChanged();
            ]]>
            </script>
        </div>


        <p style="font-size: 80%">
            &dagger;AFTER AJAX. All native Angular AJAX requests are counted by aaLoadingWatcher and a form isn't considered
            loaded until pending AJAX requests have completed. If you have other types of loading to account for
            simply use aaLoadingWatcher.increment()/.decrement() API to count them.
        </p>

        <p class="lead">Loading indicators</p>
        <i ng-show="aaIsLoading" class="fa fa-spinner fa-spin fa-5x"></i>
        isLoading boolean is available from aaLoadingWatcher.isLoading factory or:
<pre>
$rootScope.aaIsLoading = {{ aaIsLoading }}
</pre>

        <p class="lead">On-navigate away handling</p>
        <p>
            Includes (by default, overridable) detection of Angular UI Router $stateChangeStart AND native DOM beforeunload. If the root form in the view
            is myForm.$aaFormExtensions.$changed it will block with a JavaScript confirm. Please customize this
            with however you are doing modals for the UI Router case. <a href="http://angular-ui.github.io/bootstrap/#/modal" target="_blank">I would recommend this.</a>
            Then register your own custom strategy:
            <div syntax-highligher-for="javascript">
                <script type="syntaxhighlighter"><![CDATA[
                    aaFormExtensionsProvider.onNavigateAwayStrategies.myCustomStrategy = function(rootFormScope, rootForm, $injector){/*...*/};

                    aaFormExtensionsProvider.defaultOnNavigateAwayStrategy = 'myCustomStrategy';
                ]]>
                </script>
            </div>
            Use to ignore on a per form basis (if you registered a global default):
            <div syntax-highligher-for="html">
                <script type="syntaxhighlighter"><![CDATA[
                    <div ng-form="myForm" on-navigate-away-strategy="none">...</div>
                ]]>
                </script>
            </div>
        </p>
    </div>

    <div class="well">
        <p class="lead">Source for this example page</p>
        <ul>
            <li><a href="https://github.com/AngularAgility/AngularAgility/blob/master/demo/app/formExtensions/advanced.html" target="_blank">HTML</a></li>
            <li><a href="https://github.com/AngularAgility/AngularAgility/blob/master/demo/app/formExtensions/advancedFormExtensions.js" target="_blank">Controller JavaScript</a></li>
        </ul>
    </div>

    <h2>ngForm boundaries are indicated like <span class="highlight-form">this</span></h2>
    <br/>
    <br/>
    <div class="form-horizontal">

        <!-- FIRST FORM STARTS HERE! -->
        <div ng-form="personForm" class="highlight-form">
            <h2>Person</h2>

<pre>
//current variable status
personForm.$valid = {{ personForm.$valid }}
personForm.$aaFormExtensions.$changed = {{ personForm.$aaFormExtensions.$changed}}
personForm.$aaFormExtensions.$childForms.length = {{ personForm.$aaFormExtensions.$childForms.length }}
personForm.$aaFormExtensions.$invalidAttempt = {{ personForm.$aaFormExtensions.$invalidAttempt}}
</pre>

            <input aa-field-group="person.firstName" required>

            <input aa-field-group="person.lastName" required>

            <input type="number" aa-field-group="person.age" required>

            <div ng-form="addressForm" class="highlight-form">
                <h2>Address</h2>
<pre>
//current variable status
addressForm.$valid = {{ addressForm.$valid }}
addressForm.$aaFormExtensions.$changed = {{ addressForm.$aaFormExtensions.$changed }}
addressForm.$aaFormExtensions.$childForms.length = {{ addressForm.$aaFormExtensions.$childForms.length }}
addressForm.$aaFormExtensions.$invalidAttempt = {{ addressForm.$aaFormExtensions.$invalidAttempt }}
</pre>

                <input aa-field-group="person.address.addressLine1" required>

                <input aa-field-group="person.address.addressLine2">

                <input aa-field-group="person.address.city" required>

                <select aa-field-group="person.address.state" required>
                    <option value="">Select...</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Wisconsin">Wisconsin</option>
                </select>

                <input type="number" aa-field-group="person.address.zip" min="00001" max="99999" required>
            </div>
            <h2>Friends</h2>
            <div class="tip">It is important to note that with controls in a repeater, the form directive must be on the repeater element for validation to work properly.</div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="friend in person.friends" ng-form="friendForm" class="highlight-form">
                    <!--edit mode-->
                    <td ng-if="friend.$editMode" class="col-sm-2">
                        <input type="text" class="form-control" ng-model="friend.firstName" name="firstName"
                               aa-field-name="First Name"
                               aa-val-msg required/>
                    </td>
                    <td ng-if="friend.$editMode" class="col-sm-2">
                        <input type="text" class="form-control" ng-model="friend.lastName" name="lastName"
                               aa-field-name="Last Name"
                               aa-val-msg required/>
                    </td>
                    <!-- view mode-->
                    <td ng-if="!friend.$editMode">{{ friend.firstName }}</td>
                    <td ng-if="!friend.$editMode">{{ friend.lastName }}</td>
                    <!-- buttons -->
                    <td>
                        <button ng-if="!friend.$editMode" class="btn btn-primary" ng-click="friend.$editMode = true">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                        <button ng-if="friend.$editMode" class="btn btn-success" aa-submit-form="friend.$editMode = false">
                            <i class="fa fa-check"></i>
                        </button>
                        <button class="btn btn-danger" ng-click="person.friends.splice(person.friends.indexOf(friend), 1)">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-success" ng-click="person.friends.push({$editMode: true})">Add Friend</button>
            <br/>
            <br/>

            <div>
                <div class="tip">Try interacting with the advanced features of the forms:</div>
                <button class="btn" ng-click="personForm.$aaFormExtensions.$clearErrors()">
                    <strong>personForm.$aaFormExtensions.$clearErrors()</strong>
                    <br/>
                    Clear any presently displayed errors. They are still errors
                    <br/>
                    and will come back though!
                </button>

                <button class="btn" ng-click="personForm.$aaFormExtensions.$resetChanged()" ng-disabled="!personForm.$aaFormExtensions.$changed">
                    <strong>personForm.$aaFormExtensions.$resetChanged()</strong>
                    <br/>
                    The present $changed form is now unchanged
                    <br/>
                    Resets the initial states of all form values
                </button>

                <button class="btn" ng-click="personForm.$aaFormExtensions.$reset()"
                        ng-disabled="!personForm.$aaFormExtensions.$changed">
                    <strong>personForm.$aaFormExtensions.$reset()</strong>
                    <br/>
                    Reset form to it's unchanged, initial state
                    <br/>
                    <br/>
                </button>
            </div>

            <div class="clearfix">
                <div class="pull-right">
                    <div class="tip">Try saving the form:</div>
                    <button class="btn btn-primary" aa-submit-form="submit()">Submit</button>
                </div>
            </div>

            <!--<div>-->
                <!--<h1>Miscellaneous Other Examples</h1>-->

                <!--<div class="well">-->
                    <!---->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div aa-notify style="position: fixed; top: 60px; right: 25px;"></div>

<div class="well">
	<p class="lead">Customizing Labels</p>
	<p>You can customize label sizes and add classes to them
  <div syntax-highligher-for="html">
    <script type="syntaxhighlighter"><![CDATA[
                    <input aa-field-group="car.model" aa-lbl-col="md-3" aa-lbl-class="blue">
                ]]>
                </script>
  </div>

  </p>
</div>
	<div class="form-horizontal">

		<!-- FIRST FORM STARTS HERE! -->
		<div ng-form="carForm" class="highlight-form">
			<h2>Car</h2>
			<input aa-field-group="car.make" required>
			<input aa-field-group="car.model" aa-lbl-col="md-3" aa-lbl-class="blue">
			</div>
		</div>
</div>