<h1>Form Extensions Demo</h1>

<p>
    <strong>
        <a href="http://johnculviner.com/introducing-angularagility-formextensions/">Click here</a>
        for a detailed blog post covering Form Extensions
    </strong>
</p>

<div>
    <div class="alert alert-success">
        <p>
            Try interacting with the fields and form below. Some ideas:
            <ul>
                <li>Click into a required field and leave without typing anything.</li>
                <li>Change a field that was once valid to be invalid.</li>
                <li>Attempt to submit the form without all the fields being valid.</li>
                <li ng-hide="hideExamples">If the blue notes below each field are distracting <a href="" ng-click="hideExamples = true">hide them</a></li>
                <li ng-show="hideExamples">I hid the blue notes and I want them back! <a href="" ng-click="hideExamples = false">show them</a></li>
            </ul>
        </p>
    </div>

    <div class="alert alert-warning">
        <p>
            To view the original code for each example click "Show Initial HTML". Using a browser inspector will show you the HTML <strong>after</strong> FormExtensions mutates it.
        </p>
        <p>
            Feel free to use a browser inspector to check out all the work FormExtensions did for you for free!
        </p>
    </div>





    <div ng-form="exampleForm" class="form-horizontal">

        <!-- EMAIL -->
        <div class="form-group">
            <div class="col-sm-3">
                <input type="email" class="form-control" aa-auto-field="person.email" required="" />
            </div>
        </div>
        <div ng-hide="hideExamples" class="alert alert-info example">
            <div syntax-toggler-for="HTML">
                <script type="syntaxhighlighter" class="brush: xml"><![CDATA[
                        <div class="form-group">
                            <div class="col-sm-3">
                                <input type="email" class="form-control" aa-auto-field="person.email" />
                            </div>
                        </div>
                        ]]></script>
            </div>
            <div class="validations">
                <i class="fa fa-check-square"></i>
                Must be an email address
            </div>
            <div class="helpers">
                <div>
                    <i class="fa fa-cogs"></i>
                    Woah! It generated almost everything for you with only one directive!
                </div>
                <ul>
                    <li>aa-auto-field="person.Email" generates:</li>
                    <ul>
                        <li>An automatic name="..." for the field (for use with ng-form) based on the ng-model binding</li>
                        <li>An overridable "aa-label" directive that follows a camel cased spacing pattern based on the ng-model binding (also 508 compliant)</li>
                        <li>Label generated/positioned using a configurable labelStrategy that also produced the required star *</li>
                        <li>A 'aa-val-msg' directive for auto generation of validation messages</li>
                    </ul>
                </ul>
            </div>
        </div>

        <!-- FIRST NAME -->
        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First Name *</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="firstName" name="firstName"
                	required="" ng-minlength="2" ng-maxlength="30"
                	ng-model="person.firstName"
                    aa-val-msg="" aa-valid-icon="" />
            </div>
        </div>
        <div ng-hide="hideExamples" class="alert alert-info example">
            <div syntax-toggler-for="HTML">
                <script type="syntaxhighlighter" class="brush: xml"><![CDATA[
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">First Name *</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="firstName" name="firstName"
                            	required="" ng-minlength="2" ng-maxlength="30"
                            	ng-model="person.firstName"
                                aa-val-msg="" aa-valid-icon="" />
                        </div>
                    </div>
                    ]]></script>
            </div>
            <div class="validations">
                <i class="fa fa-check-square"></i>
                Required field, min 2, max 30
            </div>
            <div class="helpers">
                <div>
                    <i class="fa fa-cogs"></i>
                    It's generating validation messages but not much else. That's handy.
                </div>
                <ul>
                    <li>Label is created manually in HTML with a 'for' corresponding to a manual 'id' on the input for 508 compliance.</li>
                    <li>Auto validation message using label name with 'aa-val-msg' directive</li>
                    <li>Valid icon with 'aa-valid-icon' directive</li>
                </ul>
            </div>
        </div>



        <!-- LAST NAME -->
        <div class="form-group">
            <div class="col-sm-3">
                <input type="text" class="form-control" name="lastName"
                       ng-model="person.lastName" required=""
                       aa-label="Last Name" aa-val-msg="" aa-valid-icon="" />
            </div>
        </div>
        <div ng-hide="hideExamples" class="alert alert-info example">
            <div syntax-toggler-for="HTML">
                <script type="syntaxhighlighter" class="brush: xml"><![CDATA[
                    <div class="form-group">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="lastName"
                                   ng-model="person.lastName" required=""
                                   aa-label="Last Name" aa-val-msg="" aa-valid-icon="" />
                        </div>
                    </div>
                    ]]></script>
            </div>
            <div class="validations">
                <i class="fa fa-check-square"></i>
                Required field
            </div>
            <div class="helpers">
                <div>
                    <i class="fa fa-cogs"></i>
                    It can generate labels in a configurable manner too!
                </div>
                <ul>
                    <li>Label is automatically generated with 'aa-label' directive specifying 'Last Name' as the label name.</li>
                    <li>Label generated/positioned using a configurable labelStrategy that also produced the required star *</li>
                    <li>Label for / element ID are generated automatically for 508 compliance</li>
                    <li>Auto validation message using label name with 'aa-val-msg' directive</li>
                    <li>Valid icon with 'aa-valid-icon' directive</li>
                </ul>
            </div>
        </div>


        <!-- GENDER -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Gender *</label>
            <div class="col-sm-1">
                <label class="radio-inline">
                    <input type="radio" name="gender" required="" aa-val-msg="" ng-model="person.gender" value="male"> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" required="" ng-model="person.gender" value="female"> Female
                </label>
            </div>
        </div>
        <div ng-hide="hideExamples" class="alert alert-info example">
            <div syntax-toggler-for="HTML">
                <script type="syntaxhighlighter" class="brush: xml"><![CDATA[
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gender *</label>
                        <div class="col-sm-1">
                            <label class="radio-inline">
                                <input type="radio" name="gender" required="" aa-val-msg="" ng-model="person.gender" value="male"> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" required="" ng-model="person.gender" value="female"> Female
                            </label>
                        </div>
                    </div>
                    ]]></script>
            </div>
            <div class="validations">
                <i class="fa fa-check-square"></i>
                Required field
            </div>
            <div class="helpers">
                <div>
                    <i class="fa fa-cogs"></i>
                    aa-val-msg directive on <strong>one</strong> button produces a validation message.
                </div>
            </div>
        </div>



        <!-- FAVORITE NUMBER -->
        <div class="form-group">
            <div class="col-sm-1">
                <input type="number" class="form-control" aa-auto-field="person.favoriteNumber">
            </div>
        </div>
        <div ng-hide="hideExamples" class="alert alert-info example">
            <div syntax-toggler-for="HTML">
                <script type="syntaxhighlighter" class="brush: xml"><![CDATA[
                <div class="form-group">
                    <div class="col-sm-1">
                        <input type="number" class="form-control" aa-auto-field="person.favoriteNumber" required="">
                    </div>
                </div>
                ]]></script>
            </div>
            <div class="validations">
                <i class="fa fa-check-square"></i>
                Required field, must be a NUMBER and NOT a letter. <strong>Not required.</strong>
            </div>
            <div class="helpers">
                <div>
                    <i class="fa fa-cogs"></i>
                    aa-auto-field works on input type="number" generating the correct message as well
                    <ul>
                        <li>Note: since this field isn't required there is no 'required *'</li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- AGE -->
        <div class="form-group">
            <div class="col-sm-1">
                <input type="number" class="form-control" aa-auto-field="person.age" min="0" max="140" required="">
            </div>
        </div>
        <div ng-hide="hideExamples" class="alert alert-info example">
            <div syntax-toggler-for="HTML">
                <script type="syntaxhighlighter" class="brush: xml"><![CDATA[
                <div class="col-sm-1">
                    <input type="number" class="form-control" aa-auto-field="person.age" min="0" max="140" required="">
                </div>
                ]]></script>
            </div>
            <div class="validations">
                <i class="fa fa-check-square"></i>
                Required field, must be >= 0 and <= 140 (maybe need to update sometime...ha)
            </div>
            <div class="helpers">
                <div>
                    <i class="fa fa-cogs"></i>
                    aa-auto-field works on input type="number" generating the correct message for the range values as well
                </div>
            </div>
        </div>


        <!-- FAVORITE LETTER -->
        <div class="form-group">
            <div class="col-sm-1">
                <input type="text" class="form-control" aa-auto-field="person.favoriteLetter" required=""
                       maxlength="1" ng-pattern="/^[A-Za-z]$/">
            </div>
        </div>
        <div ng-hide="hideExamples" class="alert alert-info example">
            <div syntax-toggler-for="HTML">
                <script type="syntaxhighlighter" class="brush: xml"><![CDATA[
                <div class="form-group">
                    <div class="col-sm-1">
                        <input type="text" class="form-control" aa-auto-field="person.favoriteLetter" required=""
                               maxlength="1" ng-pattern="/^[A-Za-z]$/">
                    </div>
                </div>
                ]]></script>
            </div>
            <div class="validations">
                <i class="fa fa-check-square"></i>
                Required field. Must be a LETTER (using ng-pattern regex)
            </div>
            <div class="helpers">
                <div>
                    <i class="fa fa-cogs"></i>
                    FormExtensions doesn't speak regex but if it knows something is wrong and it's not sure what it will display a generic validation message.
                    Feel free to write your own using normal Angular validation if this doesn't work!
                </div>
            </div>
        </div>



        <!-- FAVORITE WEBSITE -->
        <div class="form-group">
            <div class="col-sm-3">
                <input type="url" class="form-control" aa-auto-field="person.favoriteWebsite" required="">
            </div>
        </div>
        <div ng-hide="hideExamples" class="alert alert-info example">
            <div syntax-toggler-for="HTML">
                <script type="syntaxhighlighter" class="brush: xml"><![CDATA[
                <div class="form-group">
                    <div class="col-sm-3">
                        <input type="url" class="form-control" aa-auto-field="person.favoriteWebsite" required="">
                    </div>
                </div>
                ]]></script>
            </div>
            <div class="validations">
                <i class="fa fa-check-square"></i>
                Required field. Must be a URL.
            </div>
            <div class="helpers">
                <div>
                    <i class="fa fa-cogs"></i>
                    URL validation messages are no match for FormExtensions! (Yeah it generates them...)
                </div>
            </div>
        </div>


        <!-- FAVORITE FOOD -->
        <div class="form-group">
            <div class="col-sm-3">
                <select class="form-control" aa-auto-field="person.favoriteColor" ng-options="c.name for c in colors" required="">
                    <option value="">Select...</option>
                </select>
            </div>
        </div>
        <div ng-hide="hideExamples" class="alert alert-info example">
            <div syntax-toggler-for="HTML">
                <script type="syntaxhighlighter" class="brush: xml"><![CDATA[
                <div class="col-sm-3">
                    <select class="form-control" aa-auto-field="person.favoriteColor" ng-options="c.name for c in colors" required="">
                        <option value="">Select...</option>
                    </select>
                </div>
                ]]></script>
            </div>
            <div class="validations">
                <i class="fa fa-check-square"></i>
                Required field.
            </div>
            <div class="helpers">
                <div>
                    <i class="fa fa-cogs"></i>
                    The aa-auto-field directive and its many sub-components have no problem with select lists either
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button aa-submit-form="save()" class="btn btn-default">Save</button>
            </div>
        </div>
        <div ng-hide="hideExamples" class="alert alert-info example">
            <div syntax-toggler-for="HTML">
                <script type="syntaxhighlighter" class="brush: xml"><![CDATA[
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-3">
                        <button aa-submit-form="save()" class="btn btn-default">Save</button>
                    </div>
                </div>
                ]]></script>
            </div>
            <div class="helpers">
                <div>
                    <i class="fa fa-cogs"></i>
                    This is using the "aa-submit-form" directive which is essentially a "gated" ng-click:
                    <ul>
                        <li>It calls the underlying scope function (just like a ng-click) ONLY if the parent form is valid</li>
                        <li>If clicked when the form is invalid it triggers all validation messages to appear in the form</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>