/*demo specific stuff AKA probably not worth using*/
body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.alert {
    text-align: left;
}

.alert.alert-info.example {
    margin-top: -11px;
    padding: 5px 20px 0px 20px;
    margin-bottom: 50px;
}

.syntaxhighlighter {
    padding-top: 2px;
}