/*demo specific stuff AKA probably not worth using*/
body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

div.info {
    text-align: left;
    margin-left: 190px;
    margin-top: -15px;
    margin-bottom: 15px;
}




