/*demo specific stuff AKA probably not worth using*/
body {
    padding-top: 50px;
}

.lead {
    margin-bottom: 10px;
    font-weight: bold;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.alert {
    text-align: left;
}

.alert.alert-info.example {
    margin-top: -11px;
    padding: 5px 20px 0px 20px;
    margin-bottom: 50px;
}

.syntaxhighlighter {
    padding-top: 2px;
}

.nav.navbar-nav li.active {
    font-weight: bold;
    background-color: rgb(154, 255, 0);
}

.highlight-form {
    border: 2px dotted red;
    margin: 5px;
    padding: 5px;
}

.blue{
	color:blue;
}