<div class="jumbotron">
    <div class="container">
        <h1>Notify Demo</h1>

        <p class="lead">Fully customizable/configurable growl style notifications done right</p>

        <p class="lead">
            <a href="https://github.com/AngularAgility/AngularAgility/wiki/notify-API-Docs">API Docs</a>
            |
            <a href="https://github.com/AngularAgility/AngularAgility/blob/master/src/aa.notify.js">Source</a>
            |
            <a href="http://johnculviner.com/category/notify/">Blog Posts</a>
        </p>
    </div>
</div>

<div class="container form-horizontal">

    <h1>Simple Mode</h1>
    <div class="well">
        <p class="lead">1. Put a notification directive somewhere in the DOM with the markup for how you want it
            positioned</p>

        <div syntax-highligher-for="html">
            <script type="syntaxhighlighter"><![CDATA[
            <!-- probably use a CSS class IRL but you get the point-->
            <div aa-notify style="position: fixed; bottom: 25px; right: 25px;"></div>
        ]]>
            </script>
        </div>

        <p class="lead">2. Call it from your code!</p>

        <div syntax-highligher-for="javascript">
            <script type="syntaxhighlighter"><![CDATA[
            angular.module('myApp')
                .controller('myController', function($scope, aaNotify, $timeout) {

                    $scope.trySuccess = function() {
                        //the default notifyConfig sets the life to 4 seconds
                        //you can tweak this globally or add your own default notifyConfig
                        aaNotify.success('Example success message!');
                    };

                    $scope.tryInfo = function() {
                        //configure to 1 second life here only
                        aaNotify.info('Example info message!', { ttl: 1000 });
                    };

                    $scope.tryWarning = function() {
                        var handle = aaNotify.warning('Example warning message!', { ttl: 999999999 });

                        //whoops that message is going to be around a little *too* long with that ttl.
                        //use the handle to remove it after only 4 seconds
                        $timeout(function() { aaNotify.remove(handle); }, 4000);

                    };

                    $scope.tryDanger = function() {
                        aaNotify.danger('Example danger message!<br/><br/><br/>This text after some &lt;br/&gt;s',
                            {
                                //You can register many different templates and
                                //*do whatever you want* for a notification, wherever/however you want!
                                //(you aren't bound by this dev's idea of what a notification should look like)
                                //if you like the sound of this keep scrolling to Advanced Mode below...

                                //the default template has these options
                                //*if you don't like them *easily* make your own template!*
                                showClose: true,                            //close button
                                iconClass: 'fa fa-exclamation-triangle',    //iconClass for a <i></i> style icon to use
                                allowHtml: true,                            //allows HTML in the message to render as HTML

                                //common to the framework as a whole
                                ttl: 0  //time to live in ms
                            });
                })
        ]]>
            </script>
        </div>

        <button type="button" class="btn btn-success" ng-click="trySuccess()">Try Success!</button>
        <button type="button" class="btn btn-info" ng-click="tryInfo()">Try Info!</button>
        <button type="button" class="btn btn-warning" ng-click="tryWarning()">Try Warning!</button>
        <button type="button" class="btn btn-danger" ng-click="tryDanger()">Try Danger!</button>
    </div>

    <h1>Advanced Mode</h1>

    <p class="lead">1. Put a notification directive anywhere you want in the DOM with a custom name</p>

    <div syntax-highligher-for="html">
        <script type="syntaxhighlighter"><![CDATA[
            <!-- probably use a CSS class IRL but you get the point-->
            <div aa-notify container-name="my-custom-container"></div>
        ]]>
            </script>
    </div>

    <p class="lead">2. Send messages to JUST that container</p>

    <div syntax-highligher-for="javascript">
        <script type="syntaxhighlighter"><![CDATA[
           aaNotify.success('Sending a message to ONLY my-custom-container', {containerName: 'my-custom-container'});
        ]]></script>
    </div>

    <div aa-notify style="position: fixed; bottom: 25px; right: 25px;"></div>
</div>